body {
    font-family:  Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 10px 50px;
}

.header .title h1 {
    font-size: 35px;
}

.header .btn {
    border-radius: 25px;
    background-color: rgb(73, 168, 231);
    padding: 15px;
}

.header .btn:hover {
    border-radius: 25px;
    background-color: rgb(73, 110, 231);
    padding: 15px;
}

.header .btn a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.img-container {
    margin: 20px 20px;
}

.img-container img {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;   
        padding: 10px 50px;
    }

    .header .title h1 {
        font-size: 30px;
        text-align: center;
    }

    .header .btn {
        border-radius: 25px;
        background-color: rgb(73, 168, 231);
        padding: 15px;
    }


  }